
<h1><strong>Question 2</strong>: Are you looking for a career?</h1>

<h1><input [checked]="sumPointsService.checkYes" (change)="sumPointsService.checkYes = !sumPointsService.checkYes" type="checkbox" name="q2" id="q2-y" value="yes"> Yes</h1>

<h1><input [checked]="sumPointsService.checkNo" (change)="sumPointsService.checkNo = !sumPointsService.checkNo" type="checkbox" name="q2" id="q2-n" value="no"> No</h1>

<p *ngIf="sumPointsService.checkYes && sumPointsService.checkNo">Please choose either Yes or No in order to move on to the next question. </p>

<button [disabled]="sumPointsService.checkYes && sumPointsService.checkNo" 
(click)="sumPointsService.scoreRecord()" routerLink="/q3">Next</button>

