

<div class="container-fluid" id="landingColor">
<div class="row">
<div class="col-sm-3 col-md-3 col-lg-3"></div>
<div class="col-sm-6 col-md-6 col-lg-6">
<h1 id="landingTitle"> Coaching Assessment</h1>
</div>
<div class="col-sm-3 col-md-3 col-lg-3"></div>
</div>

<div class="row">
<div class="col-md-3 col-lg-3"></div>

<div class="col-sm-12 col-md-6 col-lg-6">
<h1 id="landingInfo"> Taking the following assessment will help me to determine what coaching services I offer would suit your career goals.</h1>
</div>
<div class="col-md-3 col-lg-3"></div>
</div>

<div class="row">
<div class="col-md-5 "></div>
<div class="col-md-2">
<button type="button" class="btn btn-primary btn-lg" id="landingButton" routerLink="/q1" >Click Here to Start!</button>
</div>
<div class="col-md-5"></div>
</div>

</div>


 