<h1><strong>Question 3</strong>: Are you looking for a new job?</h1>

<h1><input [checked]="sumPointsService.checkYes" (change)="sumPointsService.checkYes = !sumPointsService.checkYes" type="checkbox" name="q3" value="y"> Yes</h1>

<h1><input [checked]="sumPointsService.checkNo" (change)="sumPointsService.checkNo = !sumPointsService.checkNo"  type="checkbox" name="q3" value="n"> No</h1>

<p *ngIf="sumPointsService.checkYes && sumPointsService.checkNo">Please choose either Yes or No in order to move on to the next question. </p>

<button [disabled]="sumPointsService.checkYes && sumPointsService.checkNo" 
(click)="sumPointsService.scoreRecord()" routerLink="/q4">Next</button>

