#q3Color{
	background-color: #EEE8AA;
	padding-bottom: 50px;
}
#q3Title{
	padding-top: 100px;
	padding-bottom: 50px;
	text-align: center;
}
#q3Answers{
	padding-bottom: 35px;
}

#q3Button{
	color: white;
	background-color: #9ACD32;
	border-color: white;
	padding-left: 40px;
	padding-right: 40px;

}
#q3-n{
	width: 30px;
	height: 30px;
}

#q3-y{
	width: 30px;
	height: 30px;
}