<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Coaching Assessment</title>
    <!--     <link rel="stylesheet" href="styles/style.css" />
 -->
</head>
<html>

<body>
    <strong>Question 7</strong>: Have you applied to jobs with no or low responses?
    <br>
    <input type="checkbox" name="q7" value="y"> Yes
    <input type="checkbox" name="q7" value="n"> No
    <br>
    <button type="submit" name="submit" id="submit" value="Submit" onclick="choose7()">
        Submit </button>
</body>
<script src="../app.js" charset="utf-8"></script>

</html>
