<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Coaching Assessment</title>
    <!--     <link rel="stylesheet" href="styles/style.css" />
 -->
</head>
<html>

<body>
    <strong>Question 5</strong>: Are you looking for resume or interview help?
    <br>
    <input type="checkbox" name="q5" value="y"> Yes
    <input type="checkbox" name="q5" value="n"> No
    <br>
    <button type="submit" name="submit" id="submit" value="Submit" onclick="choose5()">
        <a href="index6.html"> Next </button>

</body>
<script src="../app.js" charset="utf-8"></script>

</html>
