<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Coaching Assessment</title>
    <!--     <link rel="stylesheet" href="styles/style.css" />
 -->
</head>
<html>

<body>
    <strong>Question 2</strong>: Are you looking for a career?
    <br>
    <input type="checkbox" name="q2" value="y"> Yes
    <input type="checkbox" name="q2" value="n"> No
    <br>
    <button type="submit" name="submit" id="submit" value="Submit" onclick="choose2()">
        <a href="index3.html"> Next </button>

</body>
<script src="../app.js" charset="utf-8"></script>

</html>
