<!-- <form id="question1">
 --><h1> <strong>Question 1</strong>: Do you feel like you have a clear career path?</h1>

<h1><input [checked]="sumPointsService.checkYes" (change)="sumPointsService.checkYes = !sumPointsService.checkYes" type="checkbox" name="q1" id="q1-y" value="yes" > Yes</h1>

<h1> <input [checked]="sumPointsService.checkNo" (change)="sumPointsService.checkNo = !sumPointsService.checkNo" type="checkbox" name="q1" id="q1-n" value="no"> No </h1>
<!-- </form>
 -->
 <p *ngIf="sumPointsService.checkYes && sumPointsService.checkNo">Please choose either Yes or No in order to move on to the next question. </p>

<button [disabled]="sumPointsService.checkYes && sumPointsService.checkNo" 
(click)="sumPointsService.scoreRecord()" routerLink="/q2">Next</button>