<!--The whole content below can be removed with the new code.-->
<!-- div style="text-align:center">
  <h1> Tonya Assessment Form  </h1>
<div class="container">
  <div class="row">
    <div class="col-md-12">
       <h2> I'm working</h2>
    </div>
  </div>
</div>
</div> -->
<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
      <router-outlet></router-outlet>
    </div>

<!-- <h2> Take this assessment to see what type of services fit your situation: </h2>
<ul>
  <li>
    <h2>READY!</h2>
  </li>
  <li>
    <h2>SET!</h2>
  </li>
  <li>
    <h2><a routerLink="/q1">GO!</a></h2>
  </li>
</ul> -->

